body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
   
}
.header{
    display: flex;
    height: 100px;
    background-color: red;

}
.logo{
    width: 20%px;
    height: 80px;
    
}
.logo img {
    width: 100px;
    height: 60px;
    margin: 20px;
    
}

.menu{
    width: 50%;
    height: 60px;
    margin-left: 300px;
    margin-top: 20px;
    margin-right: 40;

}
.menu h2{
    display: inline-block;
    margin: 20px;
    color:seashell;
}
.icon{
    display: flex;
}
.icon h3{
    height: 20px;
    margin-top: 40px ;
    margin-bottom: 40;
}
.icon img{
    width: 40px;
    height: 40px;
    margin-top: 30px ;
    margin-bottom: 30;}

    .home{
        display: flex;  
        background-image: url(../img/Frame\ 57.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       
        
    }
    
    .about{
        display: flex;
        background-image: url(../img/7.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        
        
        }
    
        h1{
            
           
            font-size: 50px;
    
        }
    
        span{
            color: #b4a44a;
        }
    .left{
        width: 50%;
        margin: 40px;
        padding: 100px 10px;
    }
     .right{
        width: 50%;
        margin: 10px;
        padding: 50px 10px;
        
    }
    
    .right img{
        width: 80%;
    
    }
        p{
            margin: 20px 10px;
            padding: 10px;
            
        }
    
        h3{
            color: orange;
        }
    
     a{
         text-decoration: none;
         width: 20px;
         height: 10px;
         padding: 15px 30px;
         color: white;
         font-weight: 700;
         margin-top: 20px;
         border-radius: 20px;
         background-image: linear-gradient(rgb(255, 217, 3),rgba(155, 207, 12, 0.883));
        
     }

     .gallery{
         text-align: center;
         padding: 100px 20px ;
     }

     .gallery h1{
         text-transform: uppercase;
         color: rgb(56, 41, 41);
     }
     .gallery p{
        
        color: rgb(34, 33, 33);
    }

     #container{
         display: flex;
         width: 90%;
         margin:auto;
         padding: 10px 20px;

     }
     #container .box{
         width: 25%;
         height: 500px;
         margin: 20px auto;
         padding: 15px;
         border-radius: 20px;
         box-shadow: 10px 10px 20px grey;
         text-align: center;
         
     }
     #container .box img{
         width: 300px;
         height: 200px;
         border-radius: 10px;
      }
      .portfolio{
          display: flex;
          width: 70%;
          height: 200px;
          margin: 40px auto;
          padding: 20px;
          box-shadow: 10px 10px 20px grey;
          border-radius: 20px;
      }
      .portfolio .ratio{
          margin: 50px auto;
          
      }

      footer{
          height: 200px;
          text-align: center;
          padding: 50px;
          background-color: rgb(0, 0, 0);
      }
      .style{
          color: silver;
      }