body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

.home{
    display: flex;
    margin-bottom: 40px;
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
    
}

.about{
    display: flex;
    margin-bottom: 40px;
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
    
    }

    h1{
        
       
        font-size: 50px;

    }

    span{
        color: #faba09;
    }
.left{
    width: 50%;
    margin: 40px;
    padding: 10px;
}
 .right{
    width: 50%;
    margin: 40px;
    padding: 10px;
    
}

.right img{
    width: 80%;

}
    p{
        margin: 20px 10px;
        padding: 10px;
        
    }

    h3{
        color: orange;
    }

 a{
     text-decoration: none;
     width: 20px;
     height: 10px;
     padding: 10px;
     color: white;
     font-weight: 700;
     margin-top: 20px;
     border-radius: 5px;
     background-image: linear-gradient(rgb(245, 168, 80),tomato);
    
 }
    .experience{
        display: flex;
        background-image: url("../img/exp-bg.png");
        background-repeat: no-repeat;
       
         
        

    }
#one{
    width: 40%;
    margin: 40px;
    padding: 10px;
    box-shadow:20px 20px 30px grey;
    border-left: 10px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;

    
    

}
#two{
    width: 40%;
    width: 40%;
    margin: 40px;
    padding: 10px;
    box-shadow:20px 20px 30px grey;
    border-left: 10px solid;
    border-image: linear-gradient(blue,rgb(89, 201, 216));
    border-image-slice: 1;
}
 footer p {
     text-align: center;
     color: red;
 }

